<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="maxMeetContext" value="34" />
        <option name="useD1" value="1692796219229" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>