<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="maxMeetContext" value="2" />
        <option name="useD1" value="1677896765266" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>